{{ define "main" }}

<div class="wrapper">

  <div id="sidebar" class="collapse collapse-horizontal shadow">

    <aside>

      <h5>{{ .CurrentSection.Title }}</h5>

      <div class="accordion" id="accordionPanelsStayOpenExample">

        {{ range $index, $val := $.CurrentSection.Pages.Reverse }}

          <div class="accordion-item">

            {{ $heading := printf "%v" $index | printf "%s%s" "heading" }}
            {{ $collapse := printf "%v" $index | printf "%s%s" "collapse" }}
            {{ $collapseID := printf "%v" $collapse | printf "%s%s" "#" }}

            <h2 class="accordion-header" id={{ $heading }}>
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target={{ $collapseID }} aria-expanded="true" aria-controls={{ $collapse }}>
                <h6>{{ .Title }}</h6>
              </button>
            </h2>

            <div id={{ $collapse }} class="accordion-collapse collapse" aria-labelledby={{ $heading }}>
              <div class="accordion-body">
                {{ $permalink := .Permalink }}
                {{ $fullURL := printf "%s" "#" | printf "%s%s" $permalink }}
                {{ .TableOfContents | replaceRE "#" $fullURL | safeHTML }}
              </div>
            </div>

          </div>

        {{ end }}

      </div>

    </aside>
  </div>

  <main class="content">

    <div class="container-fluid" id="show-sidemenu">
      <button type="button" class="btn btn-outline-secondary" data-bs-toggle="collapse" data-bs-target="#sidebar" aria-expanded="false" aria-controls="sidebar">
        <i class="bi bi-layout-sidebar"></i>
      </button>
    </div>

    <article class="tutorial">

      <header>
        <h2>{{ .Title }}</h2>

        <div class="author">
          <span class="tutorial_author">By {{ .Params.Author }}</span>
          <span class="tutorial_meta">{{ .Date.Format "Jan 2 2006" }} · {{ math.Round (div (countwords .Content) 200.0) }} min read</span>
        </div>

      </header>

      <section class="body">
        {{ .Content }}
      </section>

      <section class="comments">
        <h3>Comments</h3>
        {{ if .Params.disableComments }}
          <p>Comments are disabled for this post</p>
        {{ else }}
          {{ template "_internal/disqus.html" . }}
        {{ end }}
      </section>

    </article>



  </main>

</div>

{{- partial "footer.html" . -}}

{{ end }}
