.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

#sidebar {
    min-height: 100vh;
}

aside {
  width: 320px;
}

.content {
  width: 600px;
  margin-left: auto;
  margin-right: auto;
}
