<div class="contact section">
  <h1 id="contact" class="headline">Drop Me A Note</h1>
  <div class="container col col-lg-6">
    <form>
      <div class="row">
        <input type="text" class="form-control" placeholder="Name" required="required">
      </div>
      <div class="row">
        <input type="text" class="form-control" placeholder="E-Mail Address" required="required">
      </div>
      <div class="row">
        <textarea type="text" class="form-control" placeholder="Message" rows="4" required="required"></textarea>
      </div>
      <div class="center row"><button type="button" class="btn btn btn-outline-success btn-lg">SEND MESSAGE</button></div>
    </form>
  </div>
</div>
