<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">

    <a class="navbar-brand" href="{{ .Site.BaseURL }}">
      <img src="http://www.michaelborgmann.com/assets/logo.png" alt="Rounded Avatar Logo" width="30" height="30" class="rounded-circle">
    </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">

      <ul class="navbar-nav me-auto mb-2 mb-md-0">

        <li class="nav-item">
          {{ if .IsHome }}
            <a class="nav-link" href="#about">About</a>
          {{ else }}
            <a class="nav-link" href="{{ .Site.BaseURL }}#about">About</a>
          {{ end }}
        </li>
        <li class="nav-item">
          {{ if .IsHome }}
            <a class="nav-link" href="#work">Work</a>
          {{ else }}
            <a class="nav-link" href="{{ .Site.BaseURL }}#work">Work</a>
          {{ end }}
        </li>
        <li class="nav-item">
          {{ if .IsHome }}
            <a class="nav-link" href="#life">Life</a>
          {{ else }}
            <a class="nav-link" href="{{ .Site.BaseURL }}#life">Life</a>
          {{ end }}
        </li>
        <li class="nav-item">
          {{ if .IsHome }}
            <a class="nav-link" href="#contact">Contact</a>
          {{ else }}
            <a class="nav-link" href="{{ .Site.BaseURL }}#contact">Contact</a>
          {{ end }}
        </li>

      </ul>

      <a class="nav-link" href="/tutorials">Tutorials</a>

      <form class="d-flex search">
          <i class="bi bi-search"></i>
          <input class="form-control" type="search" placeholder="Search" aria-label="Search">
      </form>
    </div>

  </div>
</nav>
